* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* HEADER */

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 50px;
  height: 50px;
  background: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.hamburger span {
  width: 22px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(180deg);
}

.hamburger.open span:nth-child(2) {
  transform: rotate(-180deg); 
}

.hamburger.open span:nth-child(3) {
  transform: rotate(180deg); 
}

/* LOGO */

.logo-Nav {
  height: 10vh;
}

.logo-home{
    height: 15vh;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: -350px;
  width: 250px;
  height: 80%;
  background-color: #eb1c24;
  color: white;
  padding: 80px 30px;
  margin: 5% 2% 0;
  border-radius: 25px;
  transition: left 0.35s ease;
  box-shadow: 5px 0 20px rgba(36, 36, 36, 0.1);
  z-index: 25;
}

.sideMenu.show {
  left: 0;
}

.sideMenu ul {
  list-style: none;
}

.sideMenu li {
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sideMenu li.active {
  font-weight: 700;
  text-decoration: underline;
}

.sideMenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
}

.sideMenu a.active {
  font-weight: 700;
  text-decoration: underline;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: url("https://imgs.search.brave.com/C09tPIfQI2X2pl_VHXme95pAeSzwBRKnKtqpMnamu_s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdDIu/ZGVwb3NpdHBob3Rv/cy5jb20vMTAwMTMz/NS8xMDY5Mi9pLzQ1/MC9kZXBvc2l0cGhv/dG9zXzEwNjkyODc3/Mi1zdG9jay1waG90/by1zZXQtZGlmZmVy/ZW50LWJlYXJpbmdz/LWlzb2xhdGVkLXdo/aXRlLmpwZz9mb3Jj/ZWpwZWc9dHJ1ZQ") center no-repeat;
  background-size: 450px auto;
}

.content-card {
  width: min(100%, 1100px);
  min-height: 70vh;
  padding: 40px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.432);
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(15px);
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.homeBrand {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.logo-home {
  height: 15vh;
  margin-top: 60vh;
}

.brand h1 {
  color: red;
  font-size: 50px;
  letter-spacing: 4px;
}

.brand p {
  font-size: 14px;
  color: #333;
  text-align: center;
}